<%- include('../partials/header') %>

<h2>Profile Picture</h2>

<h2>Bio</h2>
<input type="text">
<input type="submit" value="Add Bio">

<h2>Location Information</h2>

<form action="" method="POST">
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required>
    <br>

    <label for="state">State:</label>
    <input type="text" id="state" name="state" required>
    <br>

    <label for="zip">ZIP Code:</label>
    <input type="text" id="zip" name="zip" pattern="\d{5}" title="Enter a valid ZIP code" required>
    <br>

    <input type="submit" value="Submit">
</form>

<h2>Contact Information</h2>

<form action="" method="POST">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <br>

    
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone">
    <br>

    <input type="submit" value="Submit">
</form>


<%- include('../partials/footer') %>