<%- include('./partials/header') %>



<h3>Which Instrument would you like to play?</h3>

<div id="instruments">
    <a href="/teachers">GUITAR</a>
    <a href="/teachers">DRUMS</a>
    <a href="/teachers">PIANO</a>
    <a href="/teachers">BASS</a>
    <a href="/teachers">VOCALS</a>

</div>




<%- include('./partials/footer') %>

