<%- include('./partials/header') %>



<h3>Which Instrument would you like to play?</h3>

<div id="instruments">
    <a href="">GUITAR</a>
    <a href="">DRUMS</a>
    <a href="">PIANO</a>
    <a href="">BASS</a>
    <a href="">VOCALS</a>

</div>




<%- include('./partials/footer') %>

